## SQL - Project

<b> Study goals: </b>

The rise in the popularity of books, due to the Covid pandemic, has attracted the attention of startups that rushed to develop new apps for book lovers. 

This is the database of one of the services competing in the book app market. It contains data on books, publishers, authors, and customer ratings and reviews of books. This information will be used to generate a value proposition for a new product.

### Task

- Find the number of books released after January 1, 2000.
- Find the number of user reviews and the average rating for each book.
- Identify the publisher that has released the greatest number of books with more than 50 pages (this will help you exclude brochures and similar publications from your analysis).
- Identify the author with the highest average book rating (look only at books with at least 50 ratings).
- Find the average number of text reviews among users who rated more than 50 books.

<a href='#step 1'>  A study of the tables </a>

<a href='#step 2'>  The number of books released after January 1, 2000 </a> 

<a href='#step 3'> The number of user reviews and the average rating for each book </a>   

<a href='#step 4'>  The publisher that has released the greatest number of books with more than 50 pages </a>    

<a href='#step 5'> The author with the highest average book rating </a>

<a href='#step 6'>  The average number of text reviews among users who rated more than 50 book </a>    

<a href='#step 7'> Conclusion </a>

Importing the necessary libraries to be able to work with a SQL dataset.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine
#!pip install psycopg2-binary

The connection to the SQL database

In [2]:
db_config = {'user': 'praktikum_student',         # user name
             'pwd': 'Sdf4$2;d-d30pp', # password
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # connection port
             'db': 'data-analyst-final-project-db'}          # the name of the data base

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                                     db_config['pwd'],
                                                                       db_config['host'],
                                                                       db_config['port'],
                                                                       db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<a id='step 1'></a>

## A study of the tables

<b> The books table </b> This table is connected to all the tabled according to the schema. It contains book_id, author_id, title, num_pages, publication_date and publisher_id. This table is the only one that contains information about dates, and it consists of 1000 rows.

In [3]:
query='SELECT * FROM books LIMIT 3;'
pd.io.sql.read_sql(query, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135

In [4]:
query='SELECT COUNT(book_id) FROM books;'
pd.io.sql.read_sql(query, con = engine)

   count
0   1000

<b> The authors table </b> This table has the names of the authors. It has two columns of author names and author_id, and contains 636 rows.

In [5]:
query='SELECT * FROM authors LIMIT 3;'
pd.io.sql.read_sql(query, con = engine)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie

In [6]:
query='SELECT count(author) FROM authors;'
pd.io.sql.read_sql(query, con = engine)

   count
0    636

<b> The ratings table </b> This table has information about book ratings. It has 4 columns rating_id, book_id, username and rating and it contains 6456 rows.  

The rating column is a measured from 1 to 5.

In [7]:
query='SELECT * FROM ratings LIMIT 5;'
pd.io.sql.read_sql(query, con = engine)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [8]:
query='SELECT count(username) FROM ratings;'
pd.io.sql.read_sql(query, con = engine)

   count
0   6456

<b> The reviews table </b> This table has information about book written reviews, it has 4 columns review_id, book_id, username and text (the review) and it contains 2793 rows.  

*The review text field itself does not look legible.

In [9]:
query='SELECT * FROM reviews LIMIT 3;'
pd.io.sql.read_sql(query, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...

In [10]:
query='SELECT count(username) FROM reviews;'
pd.io.sql.read_sql(query, con = engine)

   count
0   2793

<b> The publishers table </b> This table has information about the names of publishers. It has 2 columns publisher_id and publisher and it contains 340 rows.

In [11]:
query='SELECT * FROM publishers LIMIT 3;'
pd.io.sql.read_sql(query, con = engine)

   publisher_id  publisher
0             1        Ace
1             2   Ace Book
2             3  Ace Books

In [12]:
query='SELECT count(publisher) FROM publishers;'
pd.io.sql.read_sql(query, con = engine)

   count
0    340

<a id='step 2'></a>

## The number of books released after January 1, 2000.

To answer this question I sliced the data on the books table by date on the publication_date column and used the COUNT function.  The result of this query is a count of <b> 819 </b> books.

In [13]:
query='''
    SELECT count(publication_date)  
    FROM books 
    WHERE publication_date > '2000-01-01';'''
pd.io.sql.read_sql(query, con = engine)

   count
0    819

<a id='step 3'></a>

## The number of user reviews and the average rating for each book.

In order to create this table I joined three tables with NATURAL JOIN: books and ratings and books and reviews. I used GROUP BY to group the data according to the book title. I used the AVG function to calculate the average ratings and the count to count the reviews on each book. I used the LIMIT operator to show the first 5 values or the data.

In [14]:
query='''
    SELECT DISTINCT  title,
           COUNT(text),
           AVG(rating)            
    FROM books
    NATURAL JOIN ratings
    NATURAL JOIN reviews
   
    GROUP BY book_id
    LIMIT 5
   ;'''
pd.io.sql.read_sql(query, con = engine)

                                               title  count       avg
0                                       'Salem's Lot      2  4.500000
1                 1 000 Places to See Before You Die      1  3.000000
2  13 Little Blue Envelopes (Little Blue Envelope...      3  4.666667
3  1491: New Revelations of the Americas Before C...      2  4.500000
4                                               1776      4  4.250000

In [15]:
query='''
    SELECT b.title as book_title, 
            avg(r.rating) as average_rating,
            count(DISTINCT re.review_id) as count_reviews 
    FROM books as b 
    LEFT JOIN ratings as r on b.book_id = r.book_id 
    LEFT JOIN reviews as re on b.book_id = re.book_id 
    GROUP BY b.title LIMIT 5;'''
pd.io.sql.read_sql(query, con = engine)

,book_title,average_rating,count_reviews
0,'Salem's Lot,3.666667,2
1,1 000 Places to See Before You Die,2.500000,1
2,13 Little Blue Envelopes (Little Blue Envelope...,4.666667,3
3,1491: New Revelations of the Americas Before C...,4.500000,2
4,1776,4.000000,4

<a id='step 4'></a>

## The publisher that has released the greatest number of books with more than 50 pages (this will help you exclude brochures and similar publications from your analysis).

In this query I selected the publisher name from the publishers table, I used the LEFT JOIN to join the books table, the WHERE operator to filter books with more than 50 pages, GROUP BY publisher_id and  ORDER BY the sum of book_id in descending order. I limited the table with LIMIT to 1, in order to get the publisher that has released the greatest number of books.

 <b> The most prolific publisher is Penguin Books. </b>

In order to ensure a correct outcome I added another code cell below with a table containing the count of books in a column.

In [16]:
query='''
    SELECT p.publisher 
    FROM publishers as p 
    LEFT JOIN books as b on p.publisher_id = b.publisher_id
    WHERE b.num_pages > 50 
    GROUP BY p.publisher
    ORDER BY count(b.book_id) DESC LIMIT 1;'''
pd.io.sql.read_sql(query, con = engine)

       publisher
0  Penguin Books

In [17]:
query='''
    SELECT p.publisher, 
           count(b.book_id) 
    FROM publishers as p 
    LEFT JOIN books as b on p.publisher_id = b.publisher_id 
    WHERE b.num_pages > 50 
    GROUP BY p.publisher 
    ORDER BY count(b.book_id) DESC 
    LIMIT 5 ;'''
pd.io.sql.read_sql(query, con = engine)

                  publisher  count
0             Penguin Books     42
1                   Vintage     31
2  Grand Central Publishing     25
3          Penguin Classics     24
4                    Bantam     19

<a id='step 5'></a>

## The author with the highest average book rating (look only at books with at least 50 ratings).

In this query I selected the authors name from the authors table, I used LEFT JOIN to join the authors table with the books table and used JOIN again to add the ratings from the ratings table , I grouped by author name and used the HAVING operator to filter out authors with less then 50 ratings on their books. I used ORDER BY to organize the new table by average rating in descending order and limited to 1.

<b> The author with the highest average book rating is Ann Patchett </b>

An average is a problematic parameter on it's own, it doesn't indicate how many values it took to gt to that result. So I decided to include a table with the same logic with a limit of 5.



I constructed this query starting with averaging and filtering the books with over 50 ratings, then I used those books in a FROM subquery, that I joined with the books table. The joint table I put in yet another FROM subquery that I joined with the author table, calculated the average book rating per author.

In [22]:
query='''
SELECT au.author,
       AVG(br.avg_bookr)
          
   FROM (SELECT book.book_id,
                bo.author_id,
                book.book_rating as avg_bookr
         FROM (SELECT book_id,
               avg(rating) as book_rating
               FROM ratings 
               GROUP BY book_id 
               HAVING COUNT(rating) >= 50) as book
         LEFT JOIN books as bo on book.book_id=bo.book_id
         GROUP BY book.book_id, bo.author_id, book.book_rating ) as br
    
JOIN authors as au on br.author_id = au.author_id
GROUP BY au.author
ORDER BY AVG(br.avg_bookr) DESC LIMIT 5
    ;'''
pd.io.sql.read_sql(query, con = engine)

                              author       avg
0         J.K. Rowling/Mary GrandPré  4.283844
1  Markus Zusak/Cao Xuân Việt Khương  4.264151
2                     J.R.R. Tolkien  4.258446
3                  Louisa May Alcott  4.192308
4                       Rick Riordan  4.080645

<a id='step 6'></a>

## The average number of text reviews among users who rated more than 50 books.

In order to find the average number of text reviews among users who rated more than 50 books, I needed to use a subquery in FROM, I added the subquery calculation in the following cell. I used a WHERE subquery to filter the raitings over 50 .

<b> The average number of text reviews among users who rated more than 50 books is 24.3 </b>

In [20]:
query='''
    SELECT AVG(count.counttext)
    FROM (SELECT  username, 
         COUNT(text) as counttext
    FROM reviews
    GROUP BY username
    ORDER BY count(text) DESC) as count
    
    WHERE username IN ( SELECT username 
                          --- count(rating)
                        FROM ratings
                        GROUP BY username
                        HAVING count(rating) > 50
                        ORDER BY count(rating) DESC)
    ;''' 
pd.io.sql.read_sql(query, con = engine)

         avg
0  24.333333

<a id='step 7'></a>

### Conclusion : 

After examining the queries and retrieving the necessary information, I think it would have been helpful to have a detailed description of the future app idea. An analyst may have experience and different ideas about what additional information could be helpful for this type of company. 

As a way to explain the logic behind my calculations I included additional tables to the ones requested. 

The questions I raised during the analysis (how many reviews contributed, or how many books by an author) might also feed into the value proposition of the startup's new product.